# Ignorar arquivos Python compilados
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignorar arquivos temporários e logs
*.log
*.tmp
*.temp
*.bak
*.swp
.DS_Store
Thumbs.db

# Ignorar ambientes virtuais
venv/
.env/
.envrc

# Ignorar notebooks temporários e cache
.ipynb_checkpoints/
.cache/
.mypy_cache/
.pytest_cache/

# Ignorar arquivos de configuração de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignorar arquivos pessoais e backups
*.old
*.orig

# Permitir arquivos importantes para o projeto
!*.pkl
!*.json
!*.mp3
!*.ttf
!labels.txt

# Permitir arquivos dentro de assets/
!src/assets/*
